In [1]:
import pandas as pd

In [2]:
students = ['Alice','Jack','Molly']

In [3]:
pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [4]:
numbers = [1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
students_scores={'Alice':'Physics',
                'Jack':'Chemistry',
                'Moly':'English'}
s = pd.Series(students_scores)
s

Alice      Physics
Jack     Chemistry
Moly       English
dtype: object

In [7]:
s.index

Index(['Alice', 'Jack', 'Moly'], dtype='object')

In [9]:
students = [("Alice","Brown"),("Jack","White"),("Molly","Green")]
pd.Series(students)

0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [10]:
s = pd.Series(['Pysics','Chemistry','English'],index = ['Alice','Jack','Molly'])
s

Alice       Pysics
Jack     Chemistry
Molly      English
dtype: object

In [11]:
stuents_score = {'Alice':'Physics',
                 'Jack':'Chemistry',
                 'Moly':'English'}

s = pd.Series(students_scores,index = ['Alice','Moly','Sam'])
s

Alice    Physics
Moly     English
Sam          NaN
dtype: object

In [14]:
students_classes = {'Alice':'Physics',
                   'Jack':'Chemistry',
                   'Molly' : 'English',
                   'Sam':'History'
                  }
s = pd.Series(students_classes)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [15]:
s.iloc[3]

'History'

In [16]:
s.loc['Molly']

'English'

In [17]:
class_code = {99:'Physics',
              100: 'Chemistry',
              101: 'English',
              102: 'History'}
s=pd.Series(class_code)

In [18]:
s

99       Physics
100    Chemistry
101      English
102      History
dtype: object

In [19]:
s[0]

KeyError: 0

In [21]:
grades = pd.Series([90,80,70,60])

total = 0

for grade in grades:
    total+=grade
print(total/len(grades))

75.0

In [23]:
import numpy as np

total = np.sum(grades)
print(total/len(grades))

75.0

In [25]:
numbers = pd.Series(np.random.randint(0,1000,10000))

In [26]:
numbers

0       748
1        28
2       664
3       734
4       869
       ...
9995    215
9996    866
9997    219
9998    256
9999      5
Length: 10000, dtype: int32

In [27]:
numbers.head()

0    748
1     28
2    664
3    734
4    869
dtype: int32

In [28]:
len(numbers)

10000

In [29]:
%%timeit -n 100
total = 0
for number in numbers:
    total+=number
total/len(numbers)

987 µs ± 26.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [31]:
%%timeit -n 100
total=np.sum(numbers)
total/len(numbers)

56.8 µs ± 12.3 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [32]:
numbers.head()

0    748
1     28
2    664
3    734
4    869
dtype: int32

In [33]:
numbers+=2
numbers.head()

0    750
1     30
2    666
3    736
4    871
dtype: int32

In [34]:
s = pd.Series([1,2,3])
s.loc['History']=102

In [35]:
s

0            1
1            2
2            3
History    102
dtype: int64

In [36]:
students_classes = pd.Series({'Alice':'Physics',
                              'Jack': 'Chemistry',
                              'Mollly':'English',
                              'Sam': 'History'
                             })

students_classes

Alice       Physics
Jack      Chemistry
Mollly      English
Sam         History
dtype: object

In [37]:
kelly_classes = pd.Series(['Philosophy','Arts','Math'],index = ['Kelly','Kelly','Kelly'])
kelly_classes

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [38]:
all_students_classes = students_classes.append(kelly_classes)

C:\Temp\ipykernel_22188\1986120279.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_students_classes = students_classes.append(kelly_classes)

In [39]:
all_students_classes

Alice        Physics
Jack       Chemistry
Mollly       English
Sam          History
Kelly     Philosophy
Kelly           Arts
Kelly           Math
dtype: object

In [40]:
all_students_classes.loc['Kelly']

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object